.mainPage {
  min-height: 120vh;
  background-image: linear-gradient(to bottom right, #f43b47 0%, #031B88 100%);}

.cardPosition {
  padding: 120px;
}

.contentPosition {
  margin: 50px;
}
